.video_div {
	background-size: cover;
}

.hidden {
	display: none;
}

.element_char_block div {
	display: none;
}

.gift_inner {
	display: inline-block;
    vertical-align: middle;
}

.gift_img {
	height: 75px;
    float: left;
}

.gift_text {
	padding-top: 25px;
    padding-left: 30px;
	white-space: nowrap;
}

.docs_list{
	list-style: none;
	margin-top: 50px;
}

.docs_list li{
    display: inline-block;
    margin-right: 20px;
    width: 215px;
    text-align: center;
	height: 330px;
}

.docs_pic {
	height: 220px;
}

.docs_name {
	display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1c6bc4;
    font-size: 15px;
    font-family: 'Museo700', sans-serif, Arial;
    font-weight: bold;
    height: 51px;
    text-decoration: none;
    overflow: hidden;
}

a.char_tab {
    color: #2d2d2d;
    font-size: 0.750em;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #434040;
    line-height: 18px;
	margin: 10px 0px 0px 5px;
}

a.char_tab:first-child {
	margin: 0px 0px 0px 0px;
}

a.char_tab.active_tab {
    color: #006db8;
    border-bottom: 0px dotted #434040;
}

.element_char_block button, .element_char_block input[type="submit"], .element_char_block input[type="button"] {
    background: #006db8;
    border: 0;
    color: #ffffff;
    font-family: Open Sans;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    width: 185px;
    height: 40px;
    display: block;
    cursor: pointer;
	margin: 0px;
}

.gift {
	text-align: center;
    padding: 20px;
	height: 65px;
    margin-top: 10px;
}

.comments .vl {
	padding: 20px;
}

.crr-cnt {
	float: right;
	padding-left: 5px;
}

.form__subtitle {
	display: none;
}