/upload
/bitrix/cache
/bitrix/managed_cache
/bitrix/backup
bitrix/php_interface/dbconn.php
bitrix/.settings.php
*.txt
*.xml
/bitrix/html_pages
bitrix/stack_cache
/.htaccess
robots.txt
bitrix/tools
urlrewrite.php
bitrix/templates/bigms/footer.php
bitrix/templates/bigms/header.php