.element_char_block div {
	display: none;
}


a.char_tab {
    color: #2d2d2d;
    font-size: 0.750em;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #434040;
    line-height: 18px;
	margin: 10px 0px 0px 5px;
}

a.char_tab:first-child {
	margin: 0px 0px 0px 0px;
}

a.char_tab.active_tab {
    color: #006db8;
    border-bottom: 0px dotted #434040;
}

.element_char_block button, .element_char_block input[type="submit"], .element_char_block input[type="button"] {
    background: #006db8;
    border: 0;
    color: #ffffff;
    font-family: Open Sans;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    width: 185px;
    height: 40px;
    display: block;
    cursor: pointer;
	margin: 0px;
}