

.country	{	background-size: cover !important; }
.country.c1134{	background: url('images/flags/1134.png') no-repeat left; }
.country.c1203{	background: url('images/flags/1203.png') no-repeat left; }
.country.c345{	background: url('images/flags/345.png') no-repeat left; }
.country.c423{	background: url('images/flags/423.png') no-repeat left; }
.country.c442{	background: url('images/flags/442.png') no-repeat left; }
.country.c447{	background: url('images/flags/447.png') no-repeat left; }
.country.c448{	background: url('images/flags/448.png') no-repeat left; }
.country.c449{	background: url('images/flags/449.png') no-repeat left; }
.country.c465{	background: url('images/flags/465.png') no-repeat left; }
.country.c466{	background: url('images/flags/466.png') no-repeat left; }
.country.c593{	background: url('images/flags/593.png') no-repeat left; }
.country.c598{	background: url('images/flags/598.png') no-repeat left; }
.country.c684{	background: url('images/flags/684.png') no-repeat left; }
.country.c782{	background: url('images/flags/782.png') no-repeat left; }
.country.c800{	background: url('images/flags/800.png') no-repeat left; }
.country.c826{	background: url('images/flags/826.png') no-repeat left; }
.country.c834{	background: url('images/flags/834.png') no-repeat left; }
.country.c878{	background: url('images/flags/878.png') no-repeat left; }
.country.c879{	background: url('images/flags/879.png') no-repeat left; }
.country.c884{	background: url('images/flags/884.png') no-repeat left; }
.country.c894{	background: url('images/flags/894.png') no-repeat left; }