

.country	{	background-size: cover !important; }
.country.c1134, .country.c1140{	background: url('images/flags/1134.png') no-repeat left; }
.country.c1203, .country.c1204{	background: url('images/flags/1203.png') no-repeat left; }
.country.c345, .country.c329{	background: url('images/flags/345.png') no-repeat left; }
.country.c423, .country.c401{	background: url('images/flags/423.png') no-repeat left; }
.country.c442, .country.c441{	background: url('images/flags/442.png') no-repeat left; }
.country.c447, .country.c444, .country.c457{	background: url('images/flags/447.png') no-repeat left; }
.country.c448, .country.c445{	background: url('images/flags/448.png') no-repeat left; }
.country.c449, .country.c451{	background: url('images/flags/449.png') no-repeat left; }
.country.c465, .country.c458{	background: url('images/flags/465.png') no-repeat left; }
.country.c466, .country.c459{	background: url('images/flags/466.png') no-repeat left; }
.country.c593, .country.c588{	background: url('images/flags/593.png') no-repeat left; }
.country.c598, .country.c596{	background: url('images/flags/598.png') no-repeat left; }
.country.c684, .country.c686{	background: url('images/flags/684.png') no-repeat left; }
.country.c782, .country.c781{	background: url('images/flags/782.png') no-repeat left; }
.country.c800, .country.c799{	background: url('images/flags/800.png') no-repeat left; }
.country.c826, .country.c825{	background: url('images/flags/826.png') no-repeat left; }
.country.c834, .country.c833{	background: url('images/flags/834.png') no-repeat left; }
.country.c878, .country.c877{	background: url('images/flags/878.png') no-repeat left; }
.country.c879, .country.c880{	background: url('images/flags/879.png') no-repeat left; }
.country.c884, .country.c883{	background: url('images/flags/884.png') no-repeat left; }
.country.c894, .country.c893, .country.c2806{	background: url('images/flags/894.png') no-repeat left; }

.alert_main{
	text-align: center;
    margin: 30px 0;
    border: 1px #000 solid;
    margin-left: 0;
    padding: 10px;
    width: 100%;
}
