.yeni_ipep_table {
	margin-bottom: 10px;
}

.yeni_ipep_table td {
	position: relative;
	overflow: visible;
}

.yeni_ipep_can_move thead tr {
	cursor: move;
}

.yeni_ipep_table .yeni_ipep_group_id {
	display: none !important;
}

.yeni_ipep_table .group_header {
	text-align: left;
	background: url("/bitrix/panel/main/images/filter-bg.gif") repeat scroll 0 0 !important;
	padding-bottom: 3px !important;
	position: relative;
	width: 998px;
}

.yeni_ipep_table .group_header input[type="button"]
{
	float: right;
	margin-right: 10px;
	/*right: 10px;*/
}
.yeni_ipep_table .group_header b
{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: default;
}
.yeni_ipep_table .group_header b label
{
	margin-left: 5px;
}


.yeni_ipep_table .group_header .group_name,
.yeni_ipep_table .group_header .group_name[readonly="readonly"] {
	margin-left: 10px;
	width: 44% !important;
	text-align: left;
	border: none !important;
	color: #3f4b54 !important;
	background: transparent !important;
	opacity: 1 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 15px !important;
}

.yeni_ipep_table .group_header input[type="text"]:focus {
	background: #fff !important;
	border: 1px solid !important;
	border-color: #87919c #959ea9 #9ea7b1 #959ea9 !important;
	border-radius: 4px !important;
	color: #3f4b54 !important;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 2px 2px -1px rgba(180, 188, 191, 0.7) !important;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 2px 2px -1px rgba(180, 188, 191, 0.7) !important;
}

.yeni_ipep_table .comment_button_container {
	display:block;
	position: relative;
	overflow: visible;
	height: 0px;
	width: 100%;
}

.yeni_ipep_table .comment_button {
	display: block;
	height: 18px;
	width: 18px;
	background: url(comment.png) no-repeat;
	position: absolute;
	top: -36px;
	right: -9px;
	cursor: pointer;
	overflow: visible;
}

.yeni_ipep_table .comment_button .textarea_container {
	display: none;
	position: absolute;
	z-index: 1;
	padding: 1px;
	border-radius: 5px;
	overflow: hidden;
	background: url("/bitrix/panel/main/images/filter-bg.gif") repeat scroll 0 0 !important;
	box-shadow: 5px 5px 30px lightgray;

}

.yeni_ipep_table .comment_button .textarea_container textarea {
	border: none;
	padding: 3px;
	width: 200px;
	height: 50px;
}
.alert-mess-section{
	color:red;
	text-align: left;
}
.section-table-drag.yeni_ipep_can_move thead tr{
	cursor:default;
}
.yeni_ipep_can_move tbody.ui-sortable tr {
	cursor: move;
}
